.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 18%
    right: 67%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 46%
    right: 79%
  &-3
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 48%
    right: 50%
  &-4
    animation: opaci1 3s ease-in-out infinite alternate
    position: absolute
    top: 34%
    right: 55%
    width: 8%
  &-5
    animation: opaci1 3s ease-in-out 3s infinite alternate
    position: absolute
    top: 34%
    right: 55%
    width: 8%
  &-6
    animation: opaci1 4s ease-in-out infinite alternate
    position: absolute
    top: 28%
    right: 15%
  &-7
    animation: opaci1 4s ease-in-out 4s infinite alternate
    position: absolute
    top: 28%
    right: 15%
  &-8
    position: absolute
    top: 38.4%
    right: 60%
    width: 16.5%

.banner-principal__row
  height: 458px

.banner-principal__componente
  position: relative
  margin-right: 1.5rem
  top: -40px

.banner-principal__descripcion
  position: relative
  top: -24px
  margin-right: 6rem

.banner-principal__accion
  position: relative
  top: 35px

.banner-interno__fondo
  background-image: url("../assets/curso/portada/fondo-banner-principalt.png") !important

.index-dos
  position: relative
  z-index: 2

//introduccion
.clr-background-1
  position: relative
  width: 100%
  background-image: url("../assets/curso/intro/intro-img-01.svg")
  background-size: cover
  background-position: left top
  background-repeat: no-repeat
  height: 470px
  @media (max-width: 500px)
    height: 1170px

.clr-background-2
  position: relative
  width: 125%
  background-image: url("../assets/curso/intro/intro-img-02.svg")
  background-size: cover
  background-position: left top
  background-repeat: no-repeat
  left: -26px
  top: -11px
  height: 430px
  z-index: 2
  @media (max-width: 500px)
    width: 107%
    left: -33px
    height: 856px

.posicion-texto-intro
  position: relative
  top: 71px
  left: 68px
  margin-right: 5rem
  @media (max-width: 500px)
    top: 135px
    left: 115px
    margin-right: 7.5rem

.img-intro-01
  position: relative
  height: 380px
  left: -10px
  top: 14.9px
  @media (max-width: 500px)
    height: 400px
    left: 11px
    top: -50.1px
    width: 95%

.intro-decorativa-01
  position: absolute
  top: 33%
  left: 75%
  width: 26%
  z-index: 2
  @media (max-width: 500px)
    top: 60%

.intro-decorativa-02
  position: absolute
  top: 45.5%
  left: 47%
  width: 49%
  @media (max-width: 500px)
    top: 74.5%
    left: 6%
    width: 90%

//tema1
.crd-paleBlue
  background-color: #E4F8FB

.posicion-texto-crd
  position: relative
  top: 17px
  left: 13px
  @media (max-width: 500px)
    left: 9px
    margin-right: 1rem

.slyderb-01
  .slyder__btn
    &:hover
      background-color: #FD9927
      background-color: #FEDBB3

.puntos-calientes-t1
  .color-blanco1
    p
      position: relative
      top: -140px
      left: -173px
      @media (max-width: 500px)
        top: -30px
        left: -76px
  .color-blanco2
    p
      position: relative
      top: 160px
      left: -135px
      @media (max-width: 500px)
        top: 83px
        left: -30px
  .color-blanco3
    p
      position: relative
      top: -155px
      left: -90px
      @media (max-width: 500px)
        top: -58px
        left: 5px
  .color-blanco4
    p
      position: relative
      top: 175px
      left: -113px
      @media (max-width: 500px)
        top: 89px
        left: 15px
  .color-blanco5
    p
      position: relative
      top: -145px
      left: -100px
      @media (max-width: 500px)
        top: -43px
        left: 102px
  .color-blanco6
    p
      position: relative
      top: 150px
      left: 10px
      @media (max-width: 500px)
        top: 77px
        left: 28px

  .img-infografica.color-primario .img-infografica__item__dot:before
    background-color: #fd992700
  .img-infografica.color-primario .img-infografica__item__dot:after
    background-color: #fd992700
  .img-infografica__item__numero
    color: $white!important

.body-tel
  top: -13px

.pos-texto-h
  top: -12px
  position: relative

.color-primario1
  background-color: #e6fff6 !important
  height: 88%

.tarjeta-slide.color-primario .tarjeta-slide__img
  background-color: #e6fff6 !important
  height: 355px

.posicion-body
  position: relative
  top: -7px

.tam-body
  height: 240px

.crd-paleYellow
  background-color: #FFF7E0
  width: 117%
  height: 178px
  position: relative
  left: -181px
  top: -7px
  @media (max-width: 500px)
    width: 100%
    height: 268px
    left: -5px
    top: -44px

.posicion-texto-crd2
  position: relative
  top: 17px
  left: 7px
  @media (max-width: 500px)
    top: 10px
    left: 8px
    margin-right: 0.5rem

.puntos-calientes-02
  .img-infografica__item
    width: 5.5%
  .color-blanco1
    p
      position: relative
      top: -29px
      left: 5px
      @media (max-width: 500px)
        top: -29px
        left: 105px
        margin-right: 0.5rem
  .color-blanco2
    p
      position: relative
      top: -30px
      left: 190px
      @media (max-width: 500px)
        top: -55px
        left: 160px
  .color-blanco3
    p
      position: relative
      top: -30px
      left: 290px
      @media (max-width: 500px)
        top: -76px
        left: 151px
  .color-blanco4
    p
      position: relative
      top: -32px
      left: 180px
      @media (max-width: 500px)
        top: 35px
        left: 71px
  .color-blanco5
    p
      position: relative
      top: -10px
      left: -210px
      @media (max-width: 500px)
        top: 42px
        left: -59px
  .color-blanco6
    p
      position: relative
      top: -32px
      left: -210px
      @media (max-width: 500px)
        top: -81px
        left: -35px
        margin-right: 8.5rem
  .color-blanco7
    p
      position: relative
      top: -27px
      left: -223px
      @media (max-width: 500px)
        top: -100px
        left: -32px
        margin-right: 8.5rem
  .img-infografica.color-primario .img-infografica__item__dot:before
    background-color: #fd992700
  .img-infografica.color-primario .img-infografica__item__dot:after
    background-color: #fd992700
  .img-infografica__item__numero
    color: $white!important

.crd_hover_txt
  position: relative
  padding: 0 !important
  overflow: hidden !important
  &:hover
    .crd_hover_txt--body
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(0)
      background-color: #E4F8FB

  .crd_hover_txt--body
    position: absolute
    padding-left: 1.5rem
    padding-right: 1.5rem
    padding-top: 1.0rem
    bottom: 0
    transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
    transform: translateY(calc( 100% - 3.85rem ))
    background-color: #138AF8

  @media (min-width:1200px) and (max-width:1400px)
    .crd_hover_txt--body
      p
        font-size: 0.85em

.color-i
  .fa-check
    color: #FECA2E!important

.color-primario1
  background-color: #E4F8FB

.tema1-decorativa-01
  position: absolute
  top: 2.9%
  left: 43%
  width: 51%
  @media (max-width: 500px)
    top: 2.4%
    left: 4%
    width: 90%

.tema1-decorativa-02
  position: absolute
  top: 0.5%
  left: 77%
  width: 36%
  @media (max-width: 500px)
    top: 1.4%
    left: 72%
    width: 42%

.tema1-decorativa-03
  position: absolute
  top: 7.5%
  left: -3%
  width: 10%
  @media (max-width: 500px)
    top: 12.7%
    left: -6%
    width: 17%

.tema1-decorativa-04
  position: absolute
  top: 10%
  left: -4%
  width: 8%
  @media (max-width: 500px)
    top: 16%
    width: 15%

.tema1-decorativa-05
  position: absolute
  top: 23.7%
  left: 96%
  width: 7%
  @media (max-width: 500px)
    top: 20%
    left: 91%
    width: 13%

.tema1-decorativa-06
  position: absolute
  top: 93%
  left: -13%
  width: 34%
  @media (max-width: 500px)
    top: 98.5%

.tema1-decorativa-07
  position: absolute
  top: 95.8%
  left: 82%
  width: 18%
  @media (max-width: 500px)
    top: 99.2%

.tam-hover
  height: 230px

//tema2
.crd-paleBlue2
  background-color: #E4F8FB
  width: 62%
  height: 159px
  position: relative
  left: -2px
  top: -36px
  @media (max-width: 500px)
    width: 85%
    height: 260px

.posicion-texto-crd2
  position: relative
  top: 17px
  left: 8px

.slyderf-02
  .tarjeta.color-primario
    background-color: #C1EFF5
    height: 450px
  .tarjeta-avatar > img
    top: 2px
    width: 130px

.cajon.color-primario
  &::before
    background-color: #0B5999
    background-color: #83BDF2

.slyderA-01
  .slyder-a__bullets__item--active
    background-color: #D0A370
    border-color: #D0A370
  .slyder-a__bullets__item
    background-color: #D0A370

.tema2-decorativa-01
  position: absolute
  top: 42%
  left: -5%
  width: 18%
  @media (max-width: 500px)
    top: 34%
    left: -5%
    width: 19%

.tema2-decorativa-02
  position: absolute
  top: 46%
  left: 87%
  width: 17%
  @media (max-width: 500px)
    top: 37%
    left: 85%
    width: 19%

//tema3
.acordionA-01
  .tarjeta--azul
    background-color: $white
    border-bottom: 1px solid #0B5999
  .acordion__accion__btn--b
    border: 1px solid #E8CD9C
    .fa-angle-down
      color: #FD9927
  .acordion__activo
    background-color: #E1F0F2

.acordionA-02
  .tarjeta--azul
    background-color: #C7E9ED
  .acordion__accion__btn--a
    .fa-minus
      color: #FD9927
    .fa-plus
      color: #FD9927

.tema3-decorativa-01
  position: absolute
  top: 14.6%
  left: 0.5%
  width: 29%
  z-index: 2
  @media (max-width: 500px)
    top: 12.6%
    left: 0%
    width: 75%

.tema3-decorativa-02
  position: absolute
  top: 37%
  left: -5%
  width: 9.5%
  @media (max-width: 500px)
    width: 11.5%

.tema3-decorativa-03
  position: absolute
  top: 54%
  left: 95.1%
  width: 10%
  @media (max-width: 500px)
    top: 43%
    left: 93.1%
    width: 15%

//tema4

.tema4-decorativa-01
  position: absolute
  top: 6%
  left: 29.1%
  width: 23%
  @media (max-width: 500px)
    top: 8.3%
    left: 59.1%
    width: 42%

.slyderA-02
  .slyder-a__bullets__item--active
    background-color: #D0A370
    border-color: #D0A370
  .slyder-a__bullets__item
    background-color: #D0A370

//tema5
.color-blanco
  color: $white

.clr-background-3
  position: relative
  width: 100%
  background-image: url("../assets/curso/temas/tema5/tema5-img-01.svg")
  background-size: cover
  background-position: left top
  background-repeat: no-repeat
  border-radius: 15px
  .boton.color-acento-contenido
    background-color: #FD9927!important
  .boton.color-acento-contenido:hover
    background-color: #FD9927!important
  .fa-paperclip
    background-color: #435265

.crd-white
  background-color: #fff
  width: 60%
  height: 250px
  position: absolute
  left: 5%
  top: 10%
  @media (max-width: 500px)
    width: 88%
    height: 486px
    left: 6%
    top: 3%
  .posicion-texto-t5
    margin-right: 1.5rem
    top: 10px
    left: 10px
    position: relative

.tema5-img-03
  @media (max-width: 500px)
    background-image: url("../assets/curso/temas/tema5/tema5-img-03-1.svg")
    background-size: cover
    background-position: left top
    background-repeat: no-repeat
    width: 94%
    left: 3%
    height: 690px
    position: relative

.tema5-img-04
  position: absolute
  top: 0%
  left: 57.4%
  width: 42.8%
  @media (max-width: 500px)
    left: 0.4%
    top: 62%
    width: 99%

.infografica-b-01
  .img-infografica-b__item
    width: 9.5%
  .img-infografica-b.color-primario .img-infografica-b__item__dot:before
    background-color: #E8E8E8
  .img-infografica-b.color-primario .img-infografica-b__item__dot:after
    background-color: #E8E8E8
  .img-infografica-b__item__numero
    color: #FD9927!important
  .img-infografica-b__modal
    background-color: #E6F2FD
    position: relative
    left: 44%
    width: 200%
    @media (max-width: 500px)
      left: 0%
      width: 100%
  .img-infografica-b__modal__contenido div > *
    color: $black !important
  .img-infografica-b__modal__btn-cerrar i
    color: $black !important

.tema5-decorativa-01
  position: absolute
  top: 14%
  left: 79.1%
  width: 14%
  z-index: 2
  @media (max-width: 500px)
    top: 13%
    left: 46.1%
    width: 51%

.tema5-decorativa-02
  position: absolute
  top: 51%
  left: -2.6%
  width: 8.8%
  @media (max-width: 500px)
    top: 63%
    left: -2.6%
    width: 13.8%

.tema5-decorativa-03
  position: absolute
  top: 73%
  left: 91.4%
  width: 14.8%
  @media (max-width: 500px)
    top: 80%
    left: 86.4%
    width: 17.8%

//tema6
.cajon.color-primario1
  &::before
    background-color: #4DD0E1
    background-color: #99E9F5

.puntos-calientes-t6
  .tarjeta
    @media (max-width: 500px)
      background-color: white
  .color-blanco1
    h5
      position: relative
      top: 40px
      left: -93px
      @media (max-width: 500px)
        top: -13px
        left: -8px
    p
      position: relative
      top: 35px
      left: -92px
      width: 375%
      @media (max-width: 500px)
        top: -9px
        left: -7px
        width: 106%
  .color-blanco2
    h5
      position: relative
      top: 48px
      left: -320px
      @media (max-width: 500px)
        top: -15px
        left: -9px
    p
      position: relative
      top: 34px
      left: -320px
      width: 371%
      @media (max-width: 500px)
        top: -17px
        left: -5px
        width: 108%
  .color-blanco3
    h5
      position: relative
      top: 44px
      left: -523px
      @media (max-width: 500px)
        top: -15px
        left: -9px
    p
      position: relative
      top: 50px
      left: -520px
      width: 370%
      @media (max-width: 500px)
        top: -17px
        left: -5px
        width: 108%
  .color-blanco4
    h5
      position: relative
      top: 49px
      left: -715px
      @media (max-width: 500px)
        top: -15px
        left: -9px
    p
      position: relative
      top: 34px
      left: -715px
      width: 375%
      @media (max-width: 500px)
        top: -17px
        left: -5px
        width: 108%
  .color-blanco5
    h5
      position: relative
      top: 50px
      left: -733px
      @media (max-width: 500px)
        top: -15px
        left: -9px
    p
      position: relative
      top: 36px
      left: -731px
      width: 372%
      @media (max-width: 500px)
        top: -17px
        left: -5px
        width: 108%
  .img-infografica.color-primario .img-infografica__item__dot:before
    background-color: #fd992700
  .img-infografica.color-primario .img-infografica__item__dot:after
    background-color: #fd992700
  .img-infografica__item
    width: 6.5%

.tema6-decorativa-01
  position: absolute
  top: 23.5%
  left: 77.4%
  width: 23.8%
  @media (max-width: 500px)
    top: 44%
    left: 50.4%
    width: 46.8%

.tema6-decorativa-02
  position: absolute
  top: 23.5%
  left: -5.6%
  width: 9.8%
  @media (max-width: 500px)
    top: 24.5%
    left: -5.6%
    width: 17.8%

.tema6-decorativa-03
  position: absolute
  top: 41.5%
  left: 94%
  width: 9.8%
  @media (max-width: 500px)
    top: 57.7%
    left: 85%
    width: 15.8%

//tema7                  
.crd-white2
  background-color: #fff
  width: 87%
  height: 163px
  position: absolute
  left: 0%
  top: 13%
  @media (max-width: 500px)
    width: 89%
    height: 301px
    left: 6%
    top: -165%
  .posicion-crd
    position: relative
    left: 10px
    top: -10px
    @media (max-width: 500px)
      left: 5px
      top: 0px

.tema7-img-01
  position: relative
  width: 97%
  @media (max-width: 500px)
    width: 100%

.tema7-img-02
  position: relative
  left: -35px
  @media (max-width: 500px)
    left: 0px

.crd-hover-2
  .crd_hover_txt
    position: relative
    padding: 0 !important
    overflow: hidden !important
    &:hover
      .crd_hover_txt--body
        transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
        transform: translateY(0)
        background-color: #FFEDB6

    .crd_hover_txt--body
      position: absolute
      padding: 1.5rem
      bottom: -10px
      transition: all 0.5s cubic-bezier(0.42, 0, 0.58, 1)
      transform: translateY(calc( 100% - 3.85rem ))
      background-color: #F3A953

    @media (min-width:1200px) and (max-width:1400px)
      .crd_hover_txt--body
        p
          font-size: 0.85em

.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content
    background-color: #C1EFF5

.tema7-decorativa-01
  position: absolute
  top: 56.5%
  left: -4.6%
  width: 13.2%
  @media (max-width: 500px)
    top: 69.5%
    left: -6.6%

.tema7-decorativa-02
  position: absolute
  top: 67.5%
  left: 91%
  width: 7.8%
  @media (max-width: 500px)
    top: 79.5%
    left: 92%
    width: 11.8%

.tema7-decorativa-03
  position: absolute
  top: 4.5%
  left: 1%
  width: 21.8%
  z-index: 2
  @media (max-width: 500px)
    top: 2.6%
    left: -2%
    width: 65.8%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

@keyframes opaci1
  0%
    opacity: 0

  100%
    opacity: 1

.banner-principal__img
  width: 400px !important

@media (min-width: 576px)
  .banner-principal__row .banner-principal__img
    padding-right: 1rem !important

.d_ind
  z-index: 3

.gradient
  background: linear-gradient(180deg, rgba(93,143,183,1) 0%, rgba(198,216,230,1) 100%) !important
